* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.obshe {
    width: 1500px;
    height: 4000px;
    flex-wrap: wrap;
    background: #F5F5F5;
}

.wrapper {
    max-width: 100%;
    min-height: 100%;
    background: #F5F5F5;
    color: #000000;
}

header {
    margin-left: 100px;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 48px;
}
nav ul {
    position: relative;
    left: 268px;
    bottom: 20px;
}

nav ul a {
    text-decoration: none;
    list-style: none;
    color: #000000;
}

.logo {
    display: flex;
    text-decoration: none;
    list-style: none;
    width: 118px;
    font-size: 24px;
    color: #000000;
    gap: 148px;
}
.logo__2 {
    text-decoration: none;
    list-style: none;
    color: #000000;
    border-radius: 4px;
    padding: 7px,12px,7px,20px;
    gap: 16px;
    font-size: 12px;
}
.logo__2 {
    position: relative;
    left: 750px;
    bottom: 46px;
}
.home-img {
    gap: 30px;
}
.home-img {
    position: relative;
    left: 930px;
    bottom: 70px;
}
.home-fashion {
    width: 217px;
    height: 344px;
    top: 182px;
    left: 135px;
}

.img-1 {
    position: relative;
    top: 9px;
}
.img__2 {
    position: relative;
    top: 9px;
}
ol li {
    text-decoration: none;
    list-style: none;
    gap: 16px;
}
.header-img {
    position: relative;
    left: 200px;
    bottom: 350px;
}
.todays {
    width: 100%;
    min-height: 100dvh;
    margin-left: 100px;
}
.todays {
    position: relative;
    bottom: 3400px;
}
.todays h1 {
    display: flex;
    gap: 48px;
}


.hero {
    display: flex;
    gap: 12px;
}

.hero p {
    color: rgb(159, 155, 155);
}

.cal-right {
    width: 100%;
}

.cal-right {
    position: relative;
    top: 80px;
}

.call-right {
    width: 340px;
    height: 457px;
    border-radius: 4px;
    background: #ffffff;
}

.call-right h1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;  
    color: #000000;
    position: relative;
    left: 70px;
    bottom: 35px;
}

.call-right p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.hero-hr {
    width: 250px;
    position: relative;
    top: 32px;
}

.call-left {
    position: relative;
    top: 55px;
}

.call-left h1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;  
    color: #000000;
}

.call-right p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.all__leftc {
    position: relative;
    left: 400px;
    bottom: 350px;
}

.footer-img {
    position: relative;
    top: 200px;
    right: 90px;
}