* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.obshe {
    width: 1500px;
    height: 4000px;
    flex-wrap: wrap;
    background: #F5F5F5;
}

.wrapper {
    max-width: 100%;
    min-height: 100%;
    background: #F5F5F5;
    color: #000000;
}

header {
    margin-left: 100px;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 48px;
}
nav ul {
    position: relative;
    left: 268px;
    bottom: 20px;
}

nav ul a {
    text-decoration: none;
    list-style: none;
    color: #000000;
}

.logo {
    display: flex;
    text-decoration: none;
    list-style: none;
    width: 118px;
    font-size: 24px;
    color: #000000;
    gap: 148px;
}
.logo__2 {
    text-decoration: none;
    list-style: none;
    color: #000000;
    border-radius: 4px;
    padding: 7px,12px,7px,20px;
    gap: 16px;
    font-size: 12px;
}
.logo__2 {
    position: relative;
    left: 750px;
    bottom: 46px;
}
.home-img {
    gap: 30px;
}
.home-img {
    position: relative;
    left: 930px;
    bottom: 70px;
}
.home-fashion {
    width: 217px;
    height: 344px;
    top: 182px;
    left: 135px;
}

.img-1 {
    position: relative;
    top: 9px;
}
.img__2 {
    position: relative;
    top: 9px;
}
ol li {
    text-decoration: none;
    list-style: none;
    gap: 16px;
}
.header-img {
    position: relative;
    left: 200px;
    bottom: 350px;
}
.todays {
    width: 100%;
    min-height: 100dvh;
    margin-left: 100px;
}
.todays {
    position: relative;
    bottom: 3400px;
}
.todays h1 {
    display: flex;
    gap: 48px;
}


.hero {
    display: flex;
    gap: 12px;
}

.hero p {
    color: rgb(159, 155, 155);
}

.section-not {
    width: 100%;
    position: relative;
    left: 140px;
    top: 140px;
}

.section-not h1 {
    font-weight: 500;
    font-size: 110px;
    line-height: 115px;
}

.section-not p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    position: relative;
    left: 180px;
    top: 30px;
}
.section-not img {
    position: relative;
    left: 250px;
    top: 100px;
}

.section-footer {
    position: relative;
    top: 400px;
    right: 90px;
}
